0,15,30,45 * * * *	root /usr/libexec/atrun
00 1 * * *	daemon	/usr/new/lib/news/daily
0 0 * * *	uucp	/usr/local/lib/uucp.daily
7 5,12,18 * * *	uucp	/usr/local/lib/uucp.6hours
0 2 * * *	root	/bin/sh /etc/daily 2>&1 | tee /var/log/daily.out | mail karels
30 3 * * 6	root	/bin/sh /etc/weekly >/var/log/weekly.out 2>&1
30 5 1 * *	root	/bin/sh /etc/monthly >/var/log/monthly.out 2>&1
