/*
 * Server imakefile info  - this contains any special redefinitions, etc.
 * that Imakefiles in the server subtree will need.
 */

XCOMM $XConsortium: Server.tmpl,v 1.5 91/05/06 19:00:26 rws Exp $

#define PassCDebugFlags 'CDEBUGFLAGS=$(CDEBUGFLAGS)' 'CC=$(CC)' 'CCOPTIONS=$(CCOPTIONS)'

#ifndef ServerCcCmd
#define ServerCcCmd CcCmd
#endif
#ifndef ServerCCOptions
#define ServerCCOptions DefaultCCOptions
#endif
#ifndef ServerDefines
#define ServerDefines StandardDefines
#endif
#ifndef ServerCDebugFlags
#define ServerCDebugFlags OptimizedCDebugFlags
#endif

         CC = ServerCcCmd
  CCOPTIONS = ServerCCOptions
STD_DEFINES = ServerDefines
CDEBUGFLAGS = ServerCDebugFlags
EXT_DEFINES = ExtensionDefines

