#	  fs: /var
#	  by: bostic
#	date: Mon Jun 25 10:55:38 1990


/set group=7 mode=0755 owner=3 type=file
account	type=dir owner=3 group=7 mode=0755
..

/set group=7 mode=0755 owner=3 type=file
at	type=dir
	past	type=dir owner=3 group=7 mode=0755
	..
..
backups	type=dir owner=3 group=7 mode=0755
..
db	type=dir owner=3 group=7 mode=0755
..

/set group=7 mode=0755 owner=7 type=file
games	type=dir
	hackdir	type=dir owner=7 group=7 mode=0755
	..
	larn	type=dir owner=7 group=7 mode=0755
	..
	phantasia	type=dir owner=7 group=7 mode=0755
	..
..
log	type=dir owner=3 group=7 mode=0755
..
mail	type=dir owner=3 group=7 mode=0755
..
msgs	type=dir owner=3 group=7 mode=0755
..
preserve	type=dir owner=3 group=7 mode=0755
..
quotas	type=dir owner=3 group=7 mode=0755
..
run	type=dir owner=3 group=7 mode=0755
..
rwho	type=dir owner=3 group=7 mode=0755
..

/set group=7 mode=0755 owner=3 type=file
spool	type=dir mode=0755

/set group=7 mode=0755 owner=3 type=file
	ftp	type=dir mode=0755
		bin	type=dir owner=3 group=7 mode=0755
		..
		hidden	type=dir owner=3 group=7 mode=0111
		..
		pub	type=dir owner=3 group=7 mode=0755
		..
	..
	lpd	type=dir owner=3 group=7 mode=0755
	..
	mqueue	type=dir owner=3 group=7 mode=0755
	..
	news	type=dir owner=3 group=7 mode=0755
	..
	output	type=dir owner=3 group=7 mode=0755
	..
	secretmail	type=dir owner=3 group=7 mode=0755
	..
	uucp	type=dir owner=4 group=1 mode=0755
	..
	uucppublic	type=dir owner=4 group=1 mode=01777
	..
..
tmp	type=dir owner=3 group=7 mode=01777
..
