#	  fs: /
#	  by: bostic
#	date: Mon Jun 25 10:47:41 1990


/set group=7 mode=0755 owner=3 type=file
sys	type=link mode=0755 size=7 link=usr/src
a	type=dir owner=3 group=7 mode=0755
..
b	type=dir owner=3 group=7 mode=0755
..
bin	type=dir owner=3 group=7 mode=0755
..
c	type=dir owner=3 group=7 mode=0755
..
d	type=dir owner=3 group=7 mode=0755
..

/set group=10 mode=0555 owner=3 type=file
dev	type=dir group=7 mode=0755
	fd	type=dir owner=3 group=7 mode=0555
	..
..

/set group=10 mode=0755 owner=0 type=file
etc	type=dir owner=3 group=7 mode=0755
	disklabels	type=dir owner=0 group=20 mode=0755
	..

/set group=0 mode=0755 nlink=1 owner=2164 type=file
	kerberosIV	type=dir owner=0 mode=0755
		register_keys	type=dir owner=0 group=0 mode=0755
		..
	..
	mtree	type=dir owner=3 group=10 mode=0755
	..
	namedb	type=dir owner=0 group=20 mode=0755
	..
..
mnt	type=dir owner=3 group=7 mode=0755
..
root	type=dir owner=3 group=7 mode=0755
..
sbin	type=dir owner=3 group=7 mode=0755
..
stand	type=dir owner=3 group=7 mode=0755
..
tmp	type=dir owner=3 group=7 mode=01777
..
usr	type=dir owner=3 group=7 mode=0755
..
var	type=dir owner=3 group=7 mode=0755
..
