eval "/usr/ucb/vtroff -W -mm fsck.mm 2> fsck.toc"
: eval "/usr/ucb/nettroff -mm -o-9 fsck.mm 2> fsck.toc"
: eval "/usr/ucb/nettroff -mm -o10- fsck.mm 2> fsck.toc"
: exit
ex - fsck.toc <<!
g/^\\\\fB\(.\)/s//\1 <<&/
g/ [0-9]$/s/[0-9]$/\\\\0&/
/INITIALIZATION/w !cat >>fsck.stoc
/INITIALIZATION/+1,/PHASE 1:/-2w !sort -d >>fsck.stoc
/PHASE 1:/-1,/PHASE 1:/w !cat >>fsck.stoc
/PHASE 1:/+1,/PHASE 1B:/-2w !sort -d >>fsck.stoc
/PHASE 1B:/-1,/PHASE 1B:/w !cat >>fsck.stoc
/PHASE 1B:/+1,/PHASE 2:/-2w !sort -d >>fsck.stoc
/PHASE 2:/-1,/PHASE 2:/w !cat >>fsck.stoc
/PHASE 2:/+1,/PHASE 3:/-2w !sort -d >>fsck.stoc
/PHASE 3:/-1,/PHASE 3:/w  !cat >>fsck.stoc
/PHASE 3:/+1,/PHASE 4:/-2w !sort -d >>fsck.stoc
/PHASE 4:/-1,/PHASE 4:/w !cat >>fsck.stoc
/PHASE 4:/+1,/PHASE 5:/-2w !sort -d >>fsck.stoc
/PHASE 5:/-1,/PHASE 5:/w !cat >>fsck.stoc
/PHASE 5:/+1,/PHASE 6:/-2w !sort -d >>fsck.stoc
/PHASE 6:/-1,/PHASE 6:/w !cat >>fsck.stoc
/PHASE 6:/+1,/CLEANUP/-2w !sort -d >>fsck.stoc
/CLEANUP/-1,/CLEANUP/w !cat >>fsck.stoc
/CLEANUP/+1,\$-1w !sort -d >>fsck.stoc
\$w !cat >>fsck.stoc
e! fsck.stoc
g/..<</s///
w
q
!
eval "/usr/ucb/vtroff -mm -W fsck.toc.mac fsck.stoc"
: rm -f fsck.stoc fsck.toc
