.\" the first six requests below are mandatory,
.Dt MDOC.TEMPLATE
.Os BSD 4.4
.Dd January 1 1990
.Sh NAME
.Sh SYNOPSIS
.Sh DESCRIPTION
.\"  These sections should be used when appropriate
.Sh ENVIRONMENT
.Sh EXAMPLES
.Sh FILES
.Sh SEE ALSO
.Sh STANDARDS
.Sh HISTORY
.Sh AUTHORS
.Sh DIAGNOSTICS
.Sh ERRORS
